<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mentions Légales - EPS'INCROYABLE</title>
</head>

<style>
    body {
        padding: 50px; /* Ajoute un padding autour de la page entière */
    }

    .titre {
        font-size: 2.5em; /* Taille similaire à celle d'un <h1> */
        text-align: center;
    }

    section {
        margin: 20px auto; /* Espacement entre les sections */
        padding: 10px; /* Espacement à l'intérieur des sections */
    }
</style>

<body>

    <%- include('header') %>

    <h1 class="titre">Mentions légales</h1>

    <section>
        <h2>1. Éditeur du site</h2>
        <p>Le site internet EPS'INCROYABLE <a href="http://www.epsincroyable.exemple">www.epsincroyable.exemple</a> est édité par :</p>
        <ul>
            <li><strong>Raison sociale :</strong> EPS'INCROYABLE</li>
            <li><strong>Siège social :</strong> 15 Rue Tour de l'Eau, 38400 Saint-Martin-d'Hères, France</li>
            <li><strong>Responsable de la publication :</strong> Groupe 1</li>
            <li><strong>Email :</strong> <a href="mailto:groupe1@epsi.exemple">groupe1@epsi.exemple</a></li>
            <li><strong>Téléphone :</strong> +33 XX 01 02 03 04</li>
        </ul>
    </section>

    <section>
        <h2>2. Hébergeur du site</h2>
        <p>Le site est hébergé par :</p>
        <ul>
            <li><strong>Nom de l'hébergeur :</strong> X</li>
            <li><strong>Adresse :</strong> X</li>
            <li><strong>Téléphone :</strong> +33 XX 02 03 04 05</li>
            <li><strong>Site web :</strong> X</li>
        </ul>
    </section>

    <section>
        <h2>3. Propriété intellectuelle</h2>
        <p>L'intégralité du contenu du site EPS'INCROYABLE, incluant, de manière non limitative, les graphismes, images, textes, vidéos, animations, sons, logos et icônes, ainsi que leur mise en forme, sont la propriété exclusive de EPS'INCROYABLE, à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</p>
        <p>Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de EPS'INCROYABLE. Toute violation de ce droit de propriété intellectuelle pourra donner lieu à des poursuites civiles et/ou pénales conformément aux dispositions légales.</p>
    </section>

    <section>
        <h2>4. Collecte des données personnelles</h2>
        <p>EPS'INCROYABLE s'engage à ce que la collecte et le traitement de vos données, effectués à partir du site <a href="http://www.epsincroyable.exemple">www.epsincroyable.exemple</a>, soient conformes à la réglementation générale sur la protection des données (RGPD) et à la loi Informatique et Libertés.</p>
        <p>Les informations recueillies sur le site, notamment via les formulaires de commande, sont destinées à un usage interne et ne seront jamais cédées à des tiers sans consentement préalable de l'utilisateur. Vous disposez d’un droit d’accès, de rectification, de suppression et d’opposition à vos données personnelles, que vous pouvez exercer en envoyant un e-mail à l’adresse suivante : <a href="mailto:groupe1@epsi.exemple">groupe1@epsi.exemple</a>.</p>
    </section>

    <section>
        <h2>5. Cookies</h2>
        <p>Le site EPS'INCROYABLE utilise des cookies pour améliorer l’expérience de navigation et de commande en ligne. Les cookies permettent de :</p>
        <ul>
            <li>Suivre vos commandes,</li>
            <li>Gérer l'authentification des utilisateurs,</li>
            <li>Analyser le trafic et l'utilisation du site.</li>
        </ul>
        <p>Vous pouvez refuser l'utilisation des cookies en configurant votre navigateur, bien que cela puisse affecter certaines fonctionnalités du site.</p>
    </section>

    <section>
        <h2>6. Liens hypertextes</h2>
        <p>Le site EPS'INCROYABLE peut contenir des liens hypertextes vers d'autres sites. EPS'INCROYABLE n'assume aucune responsabilité concernant le contenu de ces sites et l'utilisation qui peut en être faite.</p>
    </section>

    <section>
        <h2>7. Loi applicable</h2>
        <p>Les présentes mentions légales sont régies par le droit français. Tout litige relatif à l'utilisation du site sera soumis à la compétence des tribunaux français.</p>
    </section>

    <!-- Autres sections -->

    <%- include('footer') %>

</body>
</html>
